
body {
    font-family: Arial, sans-serif;
    padding: 0;
    width: 80%;
    margin: auto;
}

h1, h2 {
    color: black;
}

.container {
    padding: 125px;
    background-color: #6E7C84;
    border: 5px solid;
}
.tiledBackground {
background-image: url(../Project1/images/Zo4LWODQbm.png);
  background-size: cover;
  width: 900px;
  height: 450px;
  border: 1px solid;
}
