body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
header {
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  padding: 1rem;
  background: url(https://artgallery.yale.edu/sites/default/files/styles/hero_large/public/2023-01/ag-doc-2281-0036-pub.jpg?h=147a4df9&itok=ewaTyP0m) no-repeat center center;
  background-size: cover;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #222;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #ddd;
  color: black;
  text-align: center;
}
main {
  padding: 15px;
}
}
.featured-art, .about, .news, .update {
  margin-bottom: 20px;
}

.featured-art .art-piece {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
}
.featured-art img {
  max-width: 30%;
  height: auto;
  border: 1px solid;
}
footer {
  font-size: 20;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 768px) {
  nav ul li {
    float: none;
    width: 100%;
  }
  .news
  {
  margin-bottom: 20px;
  }
}
